.text {
  max-width: 630px;
  margin: 1rem auto;
  text-align: center;
}
.italics {
  font-style: italic;
}

.cards {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

@media (max-width: 951px) {
  .cards {
    gap: 2.5rem;
  }
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    margin-top: 5rem;
  }
}
