.text {
    max-width: 1000px;
    margin: 1rem auto;
    text-align: center;
}

.cards {
    margin-top: 6rem;
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    .cards>div>div {
        max-width: 215px;
    }
}

@media (max-width: 768px) {
    .text {
        max-width: 100%;
        font-size: 1.6rem;
        margin: 1rem auto;
        text-align: center;
        }

    .cards {
        flex-direction: column;
        margin-top: 2rem;
    }
}