.sectionContainer {
  position: relative;
  padding: 4rem;
  margin: 6rem auto;
  margin-top: 0px;
}

.headingContainer {
  margin-bottom: 1.6rem;
}

.textContainer {
  line-height: 170%;
  width: 50%;;
}

.imgContainer {
  position: absolute;
  text-align: center;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1050px) {
  .imgContainer {
    width: 400px;
  }
}

@media (max-width: 965px) {
  .imgContainer {
    width: 360px;
  }
}

@media (max-width: 830px) {
  .imgContainer {
    width: 330px;
  }
  .B1.text {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: auto;
  }
  .imgContainer {
    margin: 2rem;
    width: 100%;
  }

  .imgContainer {
    position: relative;
    top: 0;
    transform: translateY(0);
  }

  .textContainer {
    width: 100%;
    max-width: 480px;
    min-width: 275px;
  }
}
