.text {
  max-width: 61rem;
  margin: 1rem auto;
  text-align: center;
}

.italics {
  font-style: italic;
}

.cards {
  margin-top: 6rem;
  display: flex;
  align-items: center;
}

@media (max-width: 992px) {
  .cards > div > div {
    max-width: 21rem;
  }
}
@media (max-width: 900px) {
  .cards > div > div {
    max-width: 23rem;
  }
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    margin-top: 2rem;
  }
  .cards > div > div {
    max-width: 25rem;
  }
}
