@import "../../styles/variables.scss";
	
.title {
    color: $PRIMARY_BERRY;
    text-align: center;
}

.questions {
    font-family: "Monserrat";
    font-weight: 600;
    font-size: 18px;
    color: $PRIMARY_BERRY
}
.donation {
    background-color: $WHITE;
}
