@import "../../../styles/variables.scss";
.outerContainer {
  max-width: 120rem;
  margin: 0 auto;
}
.sectionWrapper,
.reverseSectionWrapper {
  padding: 6.4rem 0;
}

.sectionContainer,
.reverseSectionContainer {
  align-items: center;
  gap: 6.6rem;
}
.reverseSectionContainer {
  flex-direction: row-reverse;
}
.imageContainer {
  max-width: 59.2rem;
}

.textContainer {
  max-width: 35rem;
  margin: 0 4rem;
  padding: 0;
}

.button {
  margin-top: 4rem;
}

//Podcast icons styling
.iconsWrapper {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

//Newsletter styling
.newsletterContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
}

.input {
  height: 28px;
  width: 100%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: transparent;
  border-color: $BERRY_4;
  border-radius: 0;
  -webkit-border-radius: 0;
  border-bottom-width: 0.2rem;
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $GRAY_1;
    opacity: 1; /* Firefox */
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $GRAY_1;
  }
  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $GRAY_1;
  }
}
.arrowRight {
  position: absolute;
  right: 0;
}

.emailValidation {
  color: $PRIMARY_BERRY;
}

@media (max-width: 1024px) {
  .sectionWrapper,
  .reverseSectionWrapper {
    padding: 6rem 5rem;
  }
  .sectionWrapper {
    padding-left: 0;
  }
  .reverseSectionWrapper {
    padding-right: 0;
  }
  .sectionContainer,
  .reverseSectionContainer {
    gap: 2.6rem;
  }
  .button {
    margin-top: 4rem;
  }
}
@media (max-width: 900px) {
  .sectionWrapper,
  .reverseSectionWrapper {
    padding: 4rem 2rem;
  }
  .sectionWrapper {
    padding-left: 0;
  }
  .reverseSectionWrapper {
    padding-right: 0;
  }
  .button {
    margin-top: 2rem;
  }
  .newsletterContainer {
    margin-top: 2.4rem;
  }
}

@media (max-width: 768px) {
  .sectionWrapper,
  .reverseSectionWrapper {
    padding: 3rem 2rem;
  }
  .sectionContainer,
  .reverseSectionContainer {
    gap: 1rem;
    justify-content: center;
    flex-direction: column;
    align-content: center;
  }
  .sectionHeading {
    text-align: center;
  }
  .button {
    margin: 0 auto;
  }
  .textContainer {
    max-width: 32rem;
    display: flex;
    flex-direction: column;
  }
  .imageContainer {
    max-width: 33rem;
  }
  .iconsWrapper {
    width: 18rem;
    margin: 0 auto;
  }
}

@media (max-width: 451px) {
  .textContainer,
  .imageContainer {
    margin: 0 2rem;
  }
}
