@import "../../../../styles/variables.scss";

.h4 {
  color: $PRIMARY_BERRY;
}

.sectionContainer {
  padding: 4rem;
  position: relative;
  margin: 6rem auto;
}

.textContainer {
  width: 50%;
}

.sectionDivider {
  background-color: $PRIMARY_HONEY;
  height: 1px;
  margin-top: 8rem;
  width: 100%;
}

.imgContainer {
  position: absolute;
  text-align: center;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

//Responsive Layouts
@media (max-width: 1050px) {
  .imgContainer {
    width: 400px;
  }
}

@media (max-width: 965px) {
  .imgContainer {
    width: 360px;
  }
}

@media (max-width: 830px) {
  .imgContainer {
    width: 330px;
  }
  .B1.text {
    font-size: 1.6rem;
  }
}

//Mobile Design
@media (max-width: 768px) {

  .imgContainer {
      margin: 2rem;
      width: 80%;
    }

  .h4 {
      color: $PRIMARY_BERRY;
      font-size: 2.6rem;
    }
    
  .textContainer {
      width: 90%;
    }

  .sectionDivider {
  display: none;
}
    
  .sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: auto;
  }

  .imgContainer {
    position: relative;
    top: 0;
    transform: translateY(0);
  }
}
