.headingContainer {
  max-width: 62.4rem;
  text-align: center;
  margin: 0 auto;
}

.teamContainer {
  margin: 3rem auto 0;
}

.leaderContainer > div > div {
  max-width: 42rem;
  margin: 15rem 0 0;
}
.leaderContainer > div > div > div {
  height: 36rem;
}

.volunteerContainer {
  margin: 18rem 0 0;
  justify-content: center;
  align-items: top;
}

.volunteerContainer > div {
  margin: 4.5rem 0;
  display: flex;
}

@media (max-width: 1024px) {
  .volunteerContainer {
    margin: 14rem 0;
  }
}

@media (max-width: 992px) {
  .leaderContainer > div > div {
    width: 35rem;
  }
  .leaderContainer > div > div > div {
    height: 43rem;
  }
  .volunteerContainer {
    margin: 11rem 0;
  }
}

@media (max-width: 900px) {
  .leaderContainer > div > div > div {
    height: 36rem;
  }
}

@media (max-width: 768px) {
  .headingText {
    max-width: 50rem;
    margin: 0 auto;
  }
  .teamContainer {
    margin: 0;
  }

  .leaderContainer > div > div {
    width: 100%;
    max-width: 47.5rem;
    margin-top: 7rem;
  }
  .leaderContainer > div > div > div {
    height: auto;
  }
  .volunteerContainer {
    margin: 7rem 0 0;
  }
  .volunteerContainer > div {
    margin: 3rem 0;
  }
}
