.headingContainer {
  max-width: 624px;
  text-align: center;
  margin: 0 auto;
}

.teamContainer {
  margin: 3rem auto 0;
}

.leaderContainer > div > div {
  max-width: 380px;
  margin: 15rem 0 0;
}

.volunteerContainer {
  margin: 18rem 0 0;
  justify-content: center;
  align-items: top;
}

.volunteerContainer > div {
  margin: 4.5rem 0;
  display: flex;
}

@media (max-width: 1024px) {
  .volunteerContainer {
    margin: 14rem 0;
  }
}

@media (max-width: 992px) {
  .leaderContainer > div > div {
    width: 340px;
  }
  .volunteerContainer {
    margin: 11rem 0;
  }
}

@media (max-width: 900px) {
  .leaderContainer > div > div {
    width: 345px;
  }
}
@media (max-width: 850px) {
  .leaderContainer > div > div {
    width: 330px;
  }
}

@media (max-width: 768px) {
  .headingText {
    max-width: 500px;
    margin: 0 auto;
  }
  .teamContainer {
    margin: 0;
  }

  .leaderContainer > div > div {
    width: 100%;
    max-width: 475px;
    margin-top: 7rem;
  }
  .volunteerContainer {
    margin: 7rem 0 0;
  }
  .volunteerContainer > div {
    margin: 3rem 0;
  }
}
