.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.headingContainer {
  text-align: center;
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

//ENTIRE WRAPPER FOR VOLUNTEER & DONATE BOXES
.boxWrapper {
  display: flex;
  gap: 9rem;
  justify-content: center;
  align-items: center;
}

.boxContainer a {
  margin-top: auto;
}

//CONTAINER FOR VOLUNTEER & DONATE BOXES
.boxContainer {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 830px) and (min-width: 740px) {
  .boxWrapper {
    gap: 5rem;
  }
}

@media (max-width: 740px) {
  .boxWrapper {
    flex-direction: column;
    gap: 3rem;
  }

  .boxContainer {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .headingContainer {
    width: 275px;
  }

  .boxContainer {
    width: 275px;
  }
}