@import "../../../styles/variables.scss";
.sessionContainer {
  width: 100%;
}
.timelineContainer {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.circleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  height: 17.6rem;
  width: 17.6rem;
  border-radius: 50%;
  background-color: $PRIMARY_HONEY;
}
.container {
  border: 0.5rem solid $PRIMARY_HONEY;
}
@media (max-width: 900px) {
  .circleWrapper {
    height: 15rem;
    width: 15rem;
    p {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 768px) {
  .sessionContainer {
    display: none;
  }
}
