@import "../../../styles/variables.scss";

.formGroup {
  margin-top: 1.5rem;
}
.label {
  margin-bottom: 0.8rem;
}
.input {
  border: 1px solid $PRIMARY_BERRY;
  border-radius: 25px;
  padding: 0.15rem 1.5rem;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
}

@media (max-width: 900px) {
  .formGroup {
    margin-top: 1rem;
  }
}
