@import "../../../../styles/variables.scss";

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 6rem;
}

.contentContainer {
  gap: 2rem;
  align-items: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.sectionDivider {
  width: 100%;
  max-width: 766px;
  height: 1px;
  margin: 0 auto;
  background-color: $PRIMARY_HONEY;
  display: flex;
  flex-direction: column;
  gap: 5.2rem;
}

@media (max-width: 900px) {
  .sectionDivider {
    max-width: 600px;
  }

  .textContainer {
    gap: 1rem;
  }
  .cta {
    font-size: 2.4rem;
  }
}

@media (max-width: 768px) {
  .sectionDivider {
    display: none;
  }

  .sectionContainer {
    align-items: center;

    margin-bottom: 3rem;

  }
  .headingContainer {
    text-align: center;
  }

  .contentContainer {
    flex-direction: column-reverse;
    max-width: 500px;
    margin: 0 auto;
    gap: 2.4rem;

  }

  .infoText {
    display: none;
  }
  .list {
    white-space: inherit;
    font-size: 1.5rem;
    padding: 0 1rem;
  }
  .applyBtn {
    margin: 0 auto;
  }
}

@media (max-width: 730px) {
  .headingText {
    display: none;
  }
}
