@import "/styles/variables.scss";

$layout-padding: 80px 48px 48px;

.form {
  max-width: 832px;
  display: flex;
  flex-direction: column;
  gap: 9.6rem;
}
.formGroups {
  display: flex;
  flex-direction: column;
  gap: 5.6rem;
}
.heading {
  // margin-bottom: 1.6rem;
}

.rowSpacing {
  // margin-top: 1.5rem;
}

.label {
  margin-bottom: 0.8rem;
}
.inputContainer {
  margin-top: 1.5rem;
}

.inputWrapper {
  border: 1px solid $PRIMARY_BERRY;
  border-radius: 25px;
  padding: 0.15rem 1.5rem;
}

.buttonRow {
  justify-content: center;
  text-align: center;
  gap: 1.6rem;
}

.submitButton {
  // width: 24rem;
  width: auto;
}

.gdpr {
  color: $PRIMARY_BERRY;
  text-decoration: underline;
}

@media (max-width: 900px) {
  .formGroups {
    gap: 4rem;
  }
  .form {
    gap: 4.8rem;
  }
  .submitButton {
    width: 22rem;
  }
  .inputContainer {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .heading {
    text-align: center;
  }
  .rowSpacing {
    justify-content: center;
  }
}

.setupcard {
  // border-radius: 10px;
  // display: flex;
  // flex-direction: row;
  // min-height: 570px;
  // flex-wrap: wrap;
  .setupcardform {
    // .InputContainer .InputElement {
    //   position: absolute;
    //   top: 0;
    //   background: red;
    // }
    //container for the form inputs
    // input,
    // .StripeElement {
    //   width: 50%;
    //   border-radius: 3px;
    //   border: 0.75px solid #aaa;
    //   padding: 0 10px;
    //   margin-bottom: 10px;
    //   background: pink !important;
    //   border-radius: 1px;
    //   //   border-left: 1px solid $color-neutral;
    //   font-size: 20px;
    //   transition: all 0.4s;
    //   line-height: 1.5715;
    // }
    // // input {
    // //   line-height: 35px;
    // // }

    // styles for Chrome autofill
    // .StripeElement--webkit-autofill {
    //   background: transparent !important;
    // }
    //labels
    // label {
    //     display:block;
    //     margin:0 0 4px 0;
    //     line-height:1; height:auto;

    //     font-family: 'Nunito Sans', sans-serif;
    //     // font-style: normal;
    //     font-weight: 700;
    //     font-size: 16px;
    //     // letter-spacing: 0.15em;
    //     color: #000000ea;
    //     padding-bottom: 5px;
    //   }
  }

  // .setupcardinputwrapper {
  //   // padding: 80px 48px 48px;
  //   display: flex;
  //   justify-content: space-between;
  //   gap: 2%;
  //   margin-bottom: 15px;

  //   div {
  //     flex: 1;
  //     margin-top: 5px;
  //     margin-left: 0px;
  //     margin-right: 0px;
  //     margin-bottom: 0px;
  //   }
  // }
  .setup-card-info {
    flex: 1;
    padding: 20px;
    background: #f7f8fe;
  }
  .payment-card-wrapper {
    width: 320px;
    height: 198px;
    border-radius: 8px;
    background: red;
    display: flex;
    flex-direction: column;

    .payment-card-header {
      // background: $card-gradient-navy-blue;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      height: 52px;
      // color:$ppl-white;
      padding: 15px;
    }
    .payment-card-body {
      background: red;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      height: 100%;
      // color:$ppl-white;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .payment-card-number {
        //   font-size:30px;
        //   font-weight: $font-weight-bold;
        margin-bottom: 0.5em;
      }
      .payment-card-name {
        display: flex;
        //   font-size:$font-size-md;
        //   font-weight: $font-weight-normal;

        .name {
          margin: 5px;
        }
        .expiry {
          margin: 5px;
        }
      }
    }
  }
}

.StripeElement {
  // display: block;
  // margin: 10px 0 20px 0;
  // background-color: #fafafa;
  // padding: 10px 14px;
  // font-size: 1em;
  // font-family: "Source Code Pro", monospace;
  // border-bottom: 2px solid #e2e8f0;
  // outline: 0;
}

.StripeElement--focus {
  border-bottom: 2px solid #01896a;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.IdealBankElement,
.StripeElement.FpxBankElement,
.StripeElement.PaymentRequestButton {
  padding: 0;
}

.StripeElement.PaymentRequestButton {
  height: 40px;
}
