@import "../../../styles//variables.scss";

.imageContainer {
  width: 100%;
  position: absolute;
  text-align: center;
  top: -13rem;
}
.volunteerImageContainer {
  width: 100%;
  position: absolute;
  text-align: center;
  top: -13rem;
}
.testimonialImageContainer {
  width: 100%;
  position: absolute;
  text-align: center;
  top: -5rem;
}

.image {
  width: 16.7rem;
  height: 16.7rem;
  border-radius: 50%;
  background-color: $TRUE_WHITE;
}
.imageVolunteer {
  width: 16.7rem;
  height: 16.7rem;
  border-radius: 50%;
  background-color: $TRUE_WHITE;
}

.imageTestimonial {
  border-radius: 50%;
  background-color: $TRUE_WHITE;
  width: 8.8rem;
  height: 8.8rem;
}

@media (max-width: 768px) {
  .image {
    width: 10rem;
    height: 10rem;
  }
  .imageVolunteer {
    width: 12.7rem;
    height: 12.7rem;
  }
  .imageContainer {
    top: -6rem;
  }
  .volunteerImageContainer {
    top: -9rem;
  }
}
