// @import url('./styles/variables.scss');
@import "/styles/variables";

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 7.2rem;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  gap: 7.2rem;
  h2,
  h1 {
    text-align: center;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 4.8rem;
}
.paymentButton {
  width: 22.5rem;
}

.swishContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gdpr {
  color: $PRIMARY_BERRY;
  text-decoration: underline;
  text-align: center;
  margin-top: 4rem;
  display: block;
}

@media (max-width: 576px) {
  .headingContainer {
    gap: 4.8rem;
  }
  .sectionContainer {
    gap: 4.8rem;
  }
  .buttonContainer {
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
  }
}
