@import "../../../styles/variables.scss";

.SECONDARY_CREAM {
  background-color: $SECONDARY_CREAM;
}
.SECONDARY_CORNFLOWER {
  background-color: $SECONDARY_CORNFLOWER;
}
.PRIMARY_CORAL {
  background-color: $PRIMARY_CORAL;
}
.VIOLET_8 {
  background-color: $VIOLET_8;
}

.hero {
  padding: 8rem;
}
.main {
  padding: 6rem;
}

.none {
  padding: 0;
}
.none {
  padding: 0;
}

@media (max-width: 1024px) {
  .hero {
    padding: 7rem 6rem;
  }
  .main {
    padding: 6rem 5rem;
  }
}

@media (max-width: 900px) {
  .hero {
    padding: 5rem 3rem;
  }
  .main {
    padding: 4rem 2rem;
  }
}
