@import "../../../styles/variables.scss";

.TRUE_WHITE {
  background-color: $TRUE_WHITE;
}
.SECONDARY_CREAM {
  background-color: $SECONDARY_CREAM;
}
.SECONDARY_CORNFLOWER {
  background-color: $SECONDARY_CORNFLOWER;
}
.PRIMARY_CORAL {
  background-color: $PRIMARY_CORAL;
}
.VIOLET_8 {
  background-color: $VIOLET_8;
}
.GRADIENT {
  background: radial-gradient(circle at 75% 50%, #ccdaff 0, #f7f7f6 39%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.hero {
  padding: 8rem;
}
.main {
  padding: 6rem;
}
.paymentform {
  padding: 9.6rem 13rem;
}

.pollination {
  padding: 8rem;
}

.none {
  padding: 0;
}

@media (max-width: 1093px) {
  .hero {
    padding: 7rem;
  }
  .paymentform {
    padding: 7rem 11rem;
  }
  .pollination {
    padding: 6rem 4rem;
  }
}

@media (max-width: 1024px) {
  .hero {
    padding: 6rem;
  }
  .main {
    padding: 6rem 5rem;
  }
  .paymentform {
    padding: 5.6rem 9.6rem;
  }
  .pollination {
    padding: 5rem 3rem;
  }
}

@media (max-width: 900px) {
  .hero {
    padding: 5rem 2rem;
  }
  .main {
    padding: 4rem 2rem;
  }
  .paymentform {
    padding: 4rem 2rem;
  }
  .pollination {
    padding: 5rem 2rem;
  }
}
