@import "../../../styles/variables.scss";

.question {
  padding: 0.6rem 0.4rem;
  margin: 0;
  font-weight: 500;
}

.answer {
  padding: 1.6rem;
}

.pollinationFaq {
  text-align: center;
  margin-bottom: 6.4rem;
}

@media (max-width: 900px) {
  .pollinationFaq {
    margin-bottom: 3.6rem;
  }
  .question {
    font-size: 1.6rem;
  }
  .answer {
    // font-size: 1.6rem;
  }
}

@media (max-width: 576px) {
  .pollinationFaq {
    margin-bottom: 1.6rem;
  }
}
