@import "../../../styles/variables.scss";

.navbar {
  background-color: #ffffff !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0.195rem 0.195rem 0.26rem;
  display: flex;
  justify-content: center;
  height: 12.5rem;
  width: 100%;
  top: 0;
}

.logoWrapper {
  height: 4.5rem;
  width: 17.5rem;
}
.container.linkContainer {
  margin: 0;
  padding: 0;
}

.linkWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navlinks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
}

.navlinks .link {
  width: fit-content;
  border-bottom: 0.4rem solid transparent;
  margin: 0 1rem;
  color: $TRUE_BLACK !important;

  &:hover {
    color: $PRIMARY_BERRY !important;
  }
  &.active {
    border-bottom: 0.4rem solid $PRIMARY_HONEY;
  }
}

.dropdownMenu {
  width: auto;
}

// .dropdownLink > a {
//   padding: 0;
//   color: inherit !important;
// }
.dropdownLink > div {
  top: 2.3rem !important;
  border: none;
  box-shadow: 0 0.2rem 0.52rem rgb(0 0 0 / 16%);
  border-radius: 0 0 0.52rem 0.52rem;
}

//DROPDOWN MENU LINKS
.dropdownItem {
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1rem;
  margin: 1rem;
  text-transform: capitalize;
  width: auto;
}

.donateButton {
  padding: 1.3rem 5rem !important;
  display: flex;
  background-color: $PRIMARY_HONEY;
  color: $TRUE_BLACK !important;
  &:hover {
    background-color: $HONEY_4;
    color: $BLACK;
  }
}

@media (min-width: 1200px) {
  .navlinks {
    margin-left: 6rem;
  }
}

@media (max-width: 1024px) and (min-width: 576px) {
  .navbar {
    height: 111px;
  }
}
@media (max-width: 992px) {
  .container .linkContainer {
    padding: 5rem;
    padding-top: 0;
  }
  .logoWrapper {
    height: 3.6rem;
    width: 13.9rem;
    margin-left: 2.5rem;
  }

  .linkWrapper {
    width: auto;
    display: inline-block;
  }
  .donateButton {
    margin-top: 2rem;
  }
  .container > div {
    background: $TRUE_WHITE;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-height: 100%;
    margin-top: 111px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .navlinks {
    margin-top: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .navlinks .link {
    border-bottom: 0.4rem solid transparent;
    margin: 0.5rem;

    &:hover {
      color: inherit;
    }
    &.active {
      border-bottom: 0.4rem solid $PRIMARY_HONEY;
    }
  }
  .dropdownMenu {
    display: block !important;
    border: none;
    & a {
      text-transform: uppercase;
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 576px) {
  .navbar {
    height: 90px;
  }
  .container > div {
    background: $TRUE_WHITE;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-height: 100vh;
    margin-top: 90px;
  }
}
