@import "../../../styles//variables.scss";
.sectionContainer {
  height: 100%;
  width: 100%;
}

.contentWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.contentContainer {
  width: 100%;
  max-width: 70rem;
  padding: 4.8rem;
  background-color: rgba(249, 242, 212, 0.8);
}

.text {
  max-width: 40rem;
  margin: 3.2rem auto;
  text-align: center;
}

.button {
  text-align: center;
}

.imageContainer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

@media (max-width: 900px) {
  .contentContainer {
    max-width: 50rem;
  }
  .text {
    max-width: 35rem;
    margin: 2.4rem 2.8rem;
  }
}

@media (max-width: 576px) {
  .text {
    margin: 2.4rem 0;
    max-width: 100%;
  }
  .contentContainer {
    padding: 4.8rem 3.6rem;
  }
}
