@import "/styles/variables.scss";

.card {
  border: none;
}

.title {
  font-size: 2.4rem;
  font-weight: 500;
}

.imageContainer {
  height: 14rem;
  width: auto;
  margin: 0 auto;
  > img {
    height: 100%;
    width: auto;
  }
}

//RESPONSIVE STYLING SECTION

@media (max-width: 992px) {
  .title {
    font-size: 1.8rem;
  }
}

@media (max-width: 900px) {
  .title {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .card {
    margin-bottom: 3rem;
  }

  .subheader {
    color: $PRIMARY_BERRY;
    font-size: 1.6rem;
    font-weight: 700;
  }
}
