.card {
  border: none;
}

.heading {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.imageContainer {
  height: 14rem;
  width: auto;
  margin: 0 auto;
  > img {
    height: 100%;
    width: auto;
  }
}
