.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.headingContainer {
  text-align: center;
  width: 38rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

//ENTIRE WRAPPER FOR VOLUNTEER & DONATE BOXES
.boxWrapper {
  display: flex;
  gap: 9rem;
  justify-content: center;
  align-items: flex-start;
}

//CONTAINER FOR VOLUNTEER & DONATE BOXES
.boxContainer {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.button {
  margin-top: auto;
}

@media (max-width: 900px) {
  .boxWrapper {
    height: auto;
  }
}

@media (max-width: 768px) {
  .boxWrapper {
    flex-direction: column;
    gap: 3rem;
  }
  .boxContainer {
    width: 40rem;
  }
}

@media (max-width: 500px) {
  .headingContainer {
    width: 27.5rem;
  }
  .boxContainer {
    width: 27.5rem;
  }
}
