.cards {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}

@media (max-width: 1086px) {
  .cards > div > div {
    max-width: 275px;
  }
}

@media (max-width: 992px) {
  .cards > div > div {
  }
}

@media (max-width: 768px) {
  .cards {
    margin-top: 0;
  }
}
