.cards {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}
.cards > div > div {
  max-width: 24rem;
}

@media (max-width: 992px) {
  .cards > div > div {
    max-width: 19rem;
  }
}

@media (max-width: 767px) {
  .cards {
    margin-top: 0;
  }
  .cards > div > div {
    max-width: 27.5rem;
  }
}
