@import "variables";

/******** FONTS ********/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "no_name_37";
  src: url("../public/fonts/no_name_37_Regular.otf") format("opentype"),
    url("../public/fonts/no_name_37_Regular.woff") format("woff"),
    url("../public/fonts/no_name_37_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "no_name_37";
  src: url("../public/fonts/no_name_37_Light.otf") format("opentype"),
    url("../public/fonts/no_name_37_Light.woff") format("woff"),
    url("../public/fonts/no_name_37_Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif !important;
  color: $TRUE_BLACK;
  font-size: 62.5%;
}
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/******************************TYPOGRAPHY************/
/* COLORS */
.primary-berry {
  color: $PRIMARY_BERRY;
}
.secondary-violet {
  color: $SECONDARY_VIOLET;
}

a {
  color: inherit;
  text-decoration: none;
}

/* DESKTOP TYPOGRAPHY*/

.Special1,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font: {
    family: "no_name_37", Verdana, Geneva, Tahoma, sans-serif !important;
    weight: 400;
    style: normal;
  }
  line-height: 1.03em;
}

h5 .h5,
.Subtitle1,
.Subtitle2,
.B1,
.B2,
.C1,
.O1 {
  font: {
    family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif !important;
    weight: 400;
  }
  line-height: 1.2em;
}

.Special1 {
  font-size: 9rem;
}

h1,
.h1 {
  font-size: 6.4rem;
}

h2,
.h2 {
  font-size: 4.6rem;
  line-height: 1.04em;
}

h3,
.h3 {
  font-size: 3.2rem;
}

h4,
.h4 {
  font-size: 2.4rem;
  line-height: 1.04em;
}

h5,
.h5 {
  font-size: 1.8rem;
  font-weight: 600;
}

.S1 {
  font-size: 1.7rem;
}

.S2 {
  font-size: 1.5rem;
}

.B1 {
  font-size: 1.8rem;
  line-height: 1.7em;
}

.B2 {
  font-size: 1.6rem;
  line-height: 1.7em;
}

.button {
  font-size: 1.6rem;
  height: 4.6rem;
  line-height: 1.25em;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 5rem;
  border-radius: 25px;
  min-width: max-content;
  background-color: $TRUE_WHITE;
  display: inline-block;
}

.C1 {
  font-style: italic;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2em;
}

.O1 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2rem;
  text-transform: uppercase;
}

/* MOBILE TYPOGRAPHY*/
@media (max-width: 900px) {
  .Special1 {
    font-size: 6.4rem;
    line-height: 1.03em;
  }

  h1,
  .h1 {
    font-size: 4.6rem;
    line-height: 1.13em;
  }

  h2,
  .h2 {
    font-size: 3.2rem;
    line-height: 1.28em;
  }

  h3,
  .h3 {
    font-size: 2.4rem;
    line-height: 1.33em;
  }

  h4,
  .h4 {
    font-size: 1.6rem;
    line-height: 1.375em;
  }

  .S1 {
    font-size: 1.8rem;
    line-height: 1.5em;
  }

  .S2 {
    font-size: 1.5rem;
    line-height: 1.5em;
  }

  .B1 {
    font-size: 1.6rem;
    line-height: 1.68em;
  }

  .B2 {
    font-size: 1.4rem;
    line-height: 1.7em;
  }
  .button {
    font-size: 1.4rem;
    line-height: 1.28em;
  }
  .C1 {
    font-size: 1.4rem;
    line-height: 1.3em;
  }
  .O1 {
    font-size: 1.4rem;
    line-height: 0.86em;
  }
}

// Fancy Yellow Underline
.svg-underline {
  background: url("../public/icons/underline.svg") bottom left no-repeat;
  background-size: 100% auto;
  padding-bottom: 0px;
  min-width: 100%;
}

//Stripe element
.StripeElement {
  font: {
    family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif !important;
    weight: 400;
  }
  line-height: 1.2em;
  font-size: 1.6rem;
  line-height: 1.7em;
}

//BOOSTRAP SPECIFIC STYLING

//FAQ component style override
.accordion-button:not(.collapsed) {
  background-color: $TRUE_WHITE;
  box-shadow: inset 0 -0.1rem 0 $SECONDARY_CORNFLOWER;
}
.accordion-button:focus {
  border-color: $SECONDARY_CORNFLOWER;
}

.accordion-item {
  border: 0.1rem solid $SECONDARY_CORNFLOWER;
}

//Testimonial Carousel
.carousel-indicators button.active {
  background-color: $PRIMARY_BERRY;
}
