@import "variables";

/******** FONTS ********/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "no_name_37";
  src: url("../public/fonts/no_name_37_Regular.otf") format("opentype"),
    url("../public/fonts/no_name_37_Regular.woff") format("woff"),
    url("../public/fonts/no_name_37_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "no_name_37";
  src: url("../public/fonts/no_name_37_Light.otf") format("opentype"),
    url("../public/fonts/no_name_37_Light.woff") format("woff"),
    url("../public/fonts/no_name_37_Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

:root {
  --color-lgrey: rgb(242, 242, 242);
  --color-grey: rgb(205, 203, 203);
  --color-black: rgb(28, 28, 25);
  --color-gray1: rgb(68, 67, 59);
  --color-gray2: rgb(131, 131, 124);
  --color-gray3: rgb(183, 182, 174);
  --color-gray4: rgb(207, 206, 201);
  --color-gray5: rgb(230, 230, 229);
  --color-white: rgb(247, 247, 246);
  --color-berry: rgb(58, 74, 146);
  --color-berry-30: rgb(44, 55, 109);
  --color-berry-v4: rgb(58, 74, 146);
  --color-berry-60: rgb(109, 125, 197);
  --color-honey: #e6c619;
  --color-coral: rgb(240, 219, 238);
  --color-violet: rgb(98, 55, 98);
  --color-cream: rgb(249, 242, 212);
  --color-cornflower: rgb(204, 218, 255);
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif !important;
  color: $TRUE_BLACK;
  font-size: 62.5%;
}
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/******************************TYPOGRAPHY************/
/* COLORS */
.primary-berry {
  color: $PRIMARY_BERRY;
}

a {
  color: inherit;
  text-decoration: none;
}

/* DESKTOP TYPOGRAPHY*/

.Special1,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font: {
    family: "no_name_37", Verdana, Geneva, Tahoma, sans-serif !important;
    weight: 400;
    style: normal;
  }
  line-height: 1.03em;
}

h5 .h5,
.Subtitle1,
.Subtitle2,
.B1,
.B2,
.C1,
.O1 {
  font: {
    family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif !important;
    weight: 400;
  }
  line-height: 1.2em;
}

.Special1 {
  font-size: 9rem;
}

h1,
.h1 {
  font-size: 6.4rem;
}

h2,
.h2 {
  font-size: 4.6rem;
  line-height: 1.04em;
}

h3,
.h3 {
  font-size: 3.2rem;
}

h4,
.h4 {
  font-size: 2.4rem;
  line-height: 1.04em;
}

h5,
.h5 {
  font-size: 1.8;
  font-weight: 600;
}

.S1 {
  font-size: 1.7rem;
}

.S2 {
  font-size: 1.5rem;
}

.B1 {
  font-size: 1.8rem;
}

.B2 {
  font-size: 1.6rem;
  line-height: 1.25em;
}

.button {
  font-size: 1.6rem;
  height: 4.6rem;
  line-height: 1.25em;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 3.8rem;
  border-radius: 25px;
  min-width: max-content;
  background-color: $TRUE_WHITE;
}

.C1 {
  font-style: italic;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2em;
}

.O1 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2rem;
  text-transform: uppercase;
}

/* MOBILE TYPOGRAPHY*/
@media (max-width: 900px) {
  .Special1 {
    font-size: 6.4rem;
    line-height: 1.03em;
  }

  h1,
  .h1 {
    font-size: 4.6rem;
    line-height: 1.13em;
  }

  h2,
  .h2 {
    font-size: 3.2rem;
    line-height: 1.28em;
  }

  h3,
  .h3 {
    font-size: 2.4rem;
    line-height: 1.33em;
  }

  h4,
  .h4 {
    font-size: 1.6rem;
    line-height: 1.375em;
  }

  .S1 {
    font-size: 1.8rem;
    line-height: 1.5em;
  }

  .S2 {
    font-size: 1.5rem;
    line-height: 1.5em;
  }

  .B1 {
    font-size: 1.6rem;
    line-height: 1.68em;
  }

  .B2 {
    font-size: 1.4rem;
    line-height: 1.7em;
  }
  .button {
    font-size: 1.4rem;
    line-height: 1.28em;
  }
  .C1 {
    font-size: 1.4rem;
    line-height: 1.3em;
  }
  .O1 {
    font-size: 1.4rem;
    line-height: 0.86em;
  }
}

/*------HERO SECTION ------*/

// Hero - Gradiant Background + Section Height
#Hero {
  background: radial-gradient(
    circle at 75% 55%,
    rgba(204, 218, 255, 0.6) 30%,
    rgba(247, 247, 246, 1) 70%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  height: 90vh;
}

// Hero - Left Wrapper
.hero-left-section {
  margin-left: 25%;
  margin-top: 10%;
  text-align: left;
}

// Hero - Main Heading
.hero-heading {
  color: var(--color-berry);
  letter-spacing: 0.1rem;
  line-height: 110%;
  margin-bottom: 3rem;
}

// Hero - Subheading
.hero-text {
  font-size: 1.6rem;
  line-height: 175%;
  margin-bottom: 3rem;
  width: 50rem;
}

// Hero - Button
.hero-button {
  background-color: var(--color-berry);
  border: none;
  border-radius: 25px;
  color: var(--color-white);
  font-weight: 500;
  font-size: 1.8rem;
  height: 46px;
  padding: 0px 3rem;
  text-transform: capitalize;
  width: 36rem;
  &:hover {
    background-color: var(--color-berry-30);
    transition: 0.5s;
  }

  &:hover a {
    color: inherit;
  }
}

// Hero - Fancy Yellow Underline
.svg-underline {
  background: url("../public/images/underline.png") bottom left no-repeat;
  background-size: 100% auto;
  padding-bottom: 0px;
  min-width: 100%;
}

// Hero - Image
.hero-image {
  margin-top: 5%;
  margin-right: 5%;
}

.slack-btn {
  padding: 13px 50px;
}

.home-pollination__spacer {
  margin: 64px 128px 64px 128px;
}

.site-map {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 89px;
  height: 178px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

hr {
  width: 75% !important;
  margin: auto;
}

span {
  font-weight: 550;
}

#testimonials {
  background-color: var(--color-cornflower);
}

#listen-button {
  min-width: 250px;
}

.rectangle {
  width: 420px;
  height: 240px;
  background-color: var(--color-grey);
  border: 1px solid #000000;
}

.avatar {
  width: 80px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

#avatar-image {
  display: block;
  border-radius: 50%;
  position: absolute;
  bottom: -42px;
  border: 5px solid white;
}

/* #header-text {
  padding-left: 96px;
  padding-right: 96px;
} */

.card {
  border: none !important;
  background-color: var(--color-white);
}

.card-body-hex {
  background-color: var(--color-honey);
  white-space: pre-line;
  margin-top: px;
}

.card-span {
  white-space: pre-line;
}

.card-img-top {
  width: auto;
  max-height: 138px;
  align-self: center;
}

#steps {
  background-color: var(--color-white);
}

.home-steps__title {
  color: var(--color-berry);
}

.steps-col {
  max-width: 350px !important;
}

.home-pollination__img {
  line-height: 0%;
}

#card-m3-steps {
  max-width: 370px;
}

#card-m3-testimonials {
  max-width: 390px;
}

#bullet-list {
  text-align: left;
}

#text-color__berry {
  color: var(--color-berry);
}

#pollination {
  background-color: var(--color-cream);
}

.home-pollination__title {
  padding: 0rem 1rem 0rem 1rem;
}

.home-shadow_img {
  box-shadow: 22px 24px rgb(230, 198, 25);
}

.home-pollination__right {
  margin-right: 80px;
}

@media only screen and (max-width: 768px) {
  .left-center-text {
    text-align: center;
  }

  .hero-text-wrapper {
    padding: 0 0 1rem 0 !important;
  }
}

#podcast {
  background-color: white;

  a {
    color: #000000;
  }
}

.podcast-icon {
  height: 40px;
}

#hero-poll {
  background-color: var(--color-cream);
}

#poll-img {
  max-width: 60%;
}

#apply-btn {
  background-color: var(--color-berry);
}

#container-hex {
  display: flex;
  --s: 150px;
  /* size  */
}

#card-m5-steps-hex {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-flexbox;
  font-size: initial;
  background-color: var(--color-honey);
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

#card-m5-steps-hex-1 {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-flexbox;
  font-size: initial;
  background-color: var(--color-honey);
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

#FAQ {
  background-color: var(--color-lgrey);
}

#newsletter {
  height: 66.13333129882812px;
  width: 399px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
}

#our-community-rectangle {
  height: 280px;
  width: 450px;
  background-color: white;
}

#our-community {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 59px;
  color: #3a4a92;
}

#our-community-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 170%;
  letter-spacing: 0.0005em;
}

#our-team-title {
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 59px;
  text-align: center;
}

#team-container {
  background-color: #ccdaff;
}

#team-name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

#team-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0.0005em;
}

#card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  letter-spacing: 0.0005em;
}

#jumbotron {
  background-color: #f9f2d4;
}

#community {
  background-color: #f9f2d4;
}

#empower {
  height: 400px;
  align-items: center;
}

#empower-text {
  color: var(--color-berry);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
}

#empower-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  text-align: center;
  letter-spacing: 0.0005em;
}

#wrapper {
  left: 0;
  right: 0;
}

.image-wrapper {
  width: auto;
}

/* Testimonials Carousel */
.carousel-root {
  width: 80% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  color: black;
  height: 100%;
}

.hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  display: inline-block;
}

.carousel .slide img {
  width: 88px !important;
}

.myCarousel {
  background: white;
  margin-top: -6%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 3px solid #3a4a92;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 2% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 17px;
}

.myCarousel h4 {
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: var(--color-berry) !important;
  outline: 0;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid #3a4a92 !important;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #3a4a92 !important;
}

.carousel.carousel-slider .control-arrow {
  background: white !important;
  border: 2px solid #3a4a92 !important;
  height: min-content;
  position: absolute;
  top: 90% !important;
  border-radius: 50%;
  padding: 0px 10px 0px 10px !important;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  opacity: 1 !important;
}

#footer-top {
  background-color: var(--color-honey);
}

.fnt-sml {
  font-size: small;
}

#copyright {
  font-size: 10pt;
}

.site-map-footer {
  font-size: 10pt;
  width: 120px !important;
  margin-top: 75px;
}

#join-community {
  margin-left: 100px;
}

#contact {
  margin-top: 100px;
}

#mission {
  width: 325px;
}

#newsletter {
  margin-left: 350px;
}

#email {
  margin-top: 20px;
}

#our-mission {
  margin-left: 100px;
  margin-top: 100px;
}

@media only screen and (max-width: 768px) {
  .carousel-root {
    outline: 0;
    width: 95% !important;
    margin: auto !important;
  }

  // .carousel.carousel-slider .control-arrow {
  //   display: none !important;
  // }

  .myCarousel {
    background: #fafafa;
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    min-height: fit-content !important;
  }
}

.no_name_37 {
  font-family: "no_name_37", Verdana, Geneva, Tahoma, sans-serif !important;
  color: #3a4a92 !important;
}

#wearegrowing {
  background-color: #f0dbee;
  padding: 3% 0%;
}

#growing-p {
  max-width: 600px;
}

#growing-apprentice {
  max-width: 304px;
}

.img-card-relative {
  display: inline;
  position: absolute;
  top: -120px;
  display: inline-flexbox;
  font-size: initial;
  background-color: var(--color-honey);
  -webkit-clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.card-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
}

#support-beela-about-us {
  background-color: #f9f2d4;

  #support-beela-section1 {
    text-align: center;
    padding: 3rem 0;
  }

  #support-beela-section2 {
    margin: 0 auto;
    gap: 8rem;
  }

  .about-support-p {
    max-width: 305px;
    margin: 1rem auto;
  }

  button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.pod-mente {
  background-color: #eddeed;
}

.new-mente {
  background-color: #dabeda;
}
