/* Bootstrap icon import */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

:root {
  --color-lgrey: rgb(242, 242, 242);
  --color-grey: rgb(205, 203, 203);
  --color-black: rgb(28, 28, 25);
  --color-gray1: rgb(68, 67, 59);
  --color-gray2: rgb(131, 131, 124);
  --color-gray3: rgb(183, 182, 174);
  --color-gray4: rgb(207, 206, 201);
  --color-gray5: rgb(230, 230, 229);
  --color-white: rgb(247, 247, 246);
  --color-berry: rgb(58, 74, 146);
  --color-berry-30: rgb(44, 55, 109);
  --color-berry-60: rgb(109, 125, 197);
  --color-honey: rgb(230, 198, 25);
  --color-coral: rgb(240, 219, 238);
  --color-violet: rgb(98, 55, 98);
  --color-cream: rgb(249, 242, 212);
  --color-cornflower: rgb(204, 218, 255);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--color-black);
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* DESKTOP*/

.Special1 {
  /* SPECIAL 1 */
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 115px;
}

h1 {
  /* heading 1*/
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 3.556rem;
  line-height: 82px;
  letter-spacing: 0.03em;
}

h2 {
  /* heading 2*/
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 2.556rem;
  line-height: 59px;
}

h3 {
  /* heading 3*/
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 1.778rem;
  line-height: 41px;
}

.h4 {
  /* heading 4*/
  font-family: "Lora", serif !important;
  color: var(--color-berry);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
}

h4 {
  /* heading 4*/
  font-family: "Lora", serif !important;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 31px;
}

h5 {
  /* heading 5*/
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
}

.home-header__hero {
  color: var(--color-berry);
}

.col-grid .S1 {
  /* Desktop/Subtitle/S1 (17) */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 0.944rem;
  line-height: 21px;
}

.S2 {
  /* Desktop/ Subtitle/ S2 (15) */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 0.833rem;
  line-height: 18px;
}

.B1 {
  /* Desktop/Body/B1 (18) */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 170%;
  /* or 31px */
  letter-spacing: 0.0005em;
}

.B2 {
  /* Desktop/ Body/ B2 (16) */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 0.889rem;
  line-height: 170%;
  /* or 27px */
  letter-spacing: 0.0005em;
}

.button {
  /* Desktop/Button/Button (16) */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-berry);
  font-size: 0.889rem;
  line-height: 20px;
  padding: 20px, 50px, 20px, 50px;
  /* identical to box height */
  text-transform: capitalize;
  height: 46px;
  width: 318px;
  border-radius: 25px;
}

.button:hover {
  color: var(--color-white);
  background-color: var(--color-berry-30);
}

.button:focus {
  color: var(--color-white);
  background-color: var(--color-berry-60);
}

.button-outline {
  /* Desktop/Button/Button (16) */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  border-color: var(--color-berry);
  color: var(--color-berry);
  background-color: var(--color-white);
  border: 2px solid;
  font-size: 0.889rem;
  line-height: 20px;
  padding: 20px, 50px, 20px, 50px;
  /* identical to box height */
  text-transform: capitalize;
  height: 46px;
  display: block;
  display: inline-block;
  border-radius: 25px;
}

.CT {
  /* Desktop/Caption/C1 (15) */
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-size: 0.833rem;
  line-height: 18px;
}
.O1 {
  /* Desktop/Overline/O1 (15) */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.833rem;
  line-height: 18px;
}
.text-primary {
  color: #3a4a92;
}

.site-map {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 89px;
  height: 178px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
* {
  box-sizing: border-box;
}

hr {
  width: 75% !important;
  margin: auto;
}

span {
  font-weight: 550;
}

#testimonials {
  background-color: var(--color-grey);
}

#listen-button {
  min-width: 250px;
}

.rectangle {
  width: 420px;
  height: 240px;
  background-color: var(--color-grey);
  border: 1px solid #000000;
}

.avatar {
  width: 80px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

#avatar-image {
  display: block;
  border-radius: 50%;
  position: absolute;
  bottom: -42px;
  border: 5px solid white;
}

#header-text {
  padding-left: 96px;
  padding-right: 96px;
}

.card {
  border: none;
}

.card-img-top {
  width: 90px;
  height: auto;
  align-self: center;
}

.home-steps__title {
  color: var(--color-berry);
}

.steps-col {
  max-width: 350px;
}

.home-pollination__img {
  line-height: 0%;
}

#card-m3-steps {
  max-width: 370px;
}

#card-m3-testimonials {
  max-width: 390px;
}

#bullet-list {
  text-align: left;
}

#pollination {
  background-color: var(--color-cream);
}

.home-pollination_img {
  box-shadow: 22px 24px rgb(230, 198, 25);
}

#card-m5-steps-hex {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-flexbox;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

#FAQ {
  background-color: var(--color-lgrey);
}

#Hero {
  height: 75vh;
  background-image: linear-gradient(rgba(247, 247, 246, 0.85), rgba(247, 247, 246, 0.85)),
    url(../public/homehero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#newsletter {
  height: 66.13333129882812px;
  width: 399px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
}

#about-beela {
  /* font-family: 'Lora'; */
  font-style: normal;
  font-weight: 600;
  font-size: 85px;
  line-height: 82px;
  color: #3a4a92;
}

#about-paragraph {
  /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 170%;
  letter-spacing: 0.0005em;
}

/* #about-rectangle {
  height: 300px;
  width: 460px;
  background-color: white;
} */

#our-community-rectangle {
  height: 280px;
  width: 450px;
  background-color: white;
}

#our-community {
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 59px;
  color: #3a4a92;
}

#our-community-paragraph {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 170%;
  letter-spacing: 0.0005em;
}

#our-team-title {
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 59px;
  text-align: center;
}

#team-container {
  background-color: #ccdaff;
}

#team-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

#team-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0.0005em;
}

#card-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  letter-spacing: 0.0005em;
}

#jumbotron {
  background-color: #f9f2d4;
}

#community {
  background-color: #f9f2d4;
}

#empower {
  height: 400px;
  align-items: center;
}

.navbar-brand {
  font-size: xx-large;
}

#empower-text {
  color: var(--color-berry);
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
}

#empower-paragraph {
  /* font-family: 'Montserrat'; */
  /* font-style: normal; */
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  text-align: center;
  letter-spacing: 0.0005em;
}

#wrapper {
  left: 0;
  right: 0;
}
.nav-h5{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 1rem;
line-height: 22px;
/* identical to box height */

display: flex;
align-items: center;
} 