@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "no_name_37";
  src: url("/fonts/no_name_37_Regular.otf");
}

:root {
  --color-lgrey: rgb(242, 242, 242);
  --color-grey: rgb(205, 203, 203);
  --color-black: rgb(28, 28, 25);
  --color-gray1: rgb(68, 67, 59);
  --color-gray2: rgb(131, 131, 124);
  --color-gray3: rgb(183, 182, 174);
  --color-gray4: rgb(207, 206, 201);
  --color-gray5: rgb(230, 230, 229);
  --color-white: rgb(247, 247, 246);
  --color-berry: #3a4a92;
  --color-berry-30: rgb(44, 55, 109);
  --color-berry-60: rgb(109, 125, 197);
  --color-honey: rgb(230, 198, 25);
  --color-coral: rgb(240, 219, 238);
  --color-violet: rgb(98, 55, 98);
  --color-cream: rgb(249, 242, 212);
  --color-cornflower: rgb(204, 218, 255);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Verdana, sans-serif;
  color: var(--color-black);
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* DESKTOP*/

.Special1,
h1,
h2,
h3,
h4 {
  font-family: "no_name_37", Verdana, Geneva, Tahoma, sans-serif !important;
}

h5,
h6 {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif !important;
}

.Special1 {
  /* SPECIAL 1 */
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 115px;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 3.556rem;
  line-height: 82px;
  letter-spacing: 0.03em;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 2.556rem;
  line-height: 59px;
}

h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.778rem;
  line-height: 41px;
}

.h4 {
  color: var(--color-berry);
  font-style: normal;
  font-weight: 400;
  font-size: 1.333rem;
  line-height: 1.5;
}

h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.333rem;
  line-height: 1.5;
}

h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
}

.col-grid .S1 {
  font-style: normal;
  font-weight: 400;
  font-size: 0.944rem;
  line-height: 21px;
}

.S2 {
  font-style: normal;
  font-weight: 400;
  font-size: 0.833rem;
  line-height: 18px;
}

.B1 {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 170%;
  /* or 31px */
  letter-spacing: 0.0005em;
}

.B2 {
  font-style: normal;
  font-weight: 400;
  font-size: 0.889rem;
  line-height: 170%;
  /* or 27px */
  letter-spacing: 0.0005em;
}

.button {
  /* Desktop/Button/Button (16) */
  align-items: center;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-berry);
  font-size: 0.889rem;
  line-height: 20px;
  /* identical to box height */
  text-transform: capitalize;
  height: 46px;
  min-width: max-content;
  border-radius: 25px;
}

/* Navbar */
a.active.nav-link {
  /* margin-top: 4px; */
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active::after {
  content: "";
  float: left;
  background: var(--color-honey);
  width: 100%;
  height: 4px;
  border-radius: 3px;
}

.navbar-nav {
  align-items: center;
  justify-content: space-evenly;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--color-black);
}

.navbar-brand {
  font-family: "no_name_37", Verdana, Geneva, Tahoma, sans-serif;
}
.nav-links {
  display: flex;
}
.social-icons {
  margin: 24px;
}

#navbar-logo {
  height: 50px;
}

@media only screen and (max-width: 992px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* Button */
.button:hover {
  color: var(--color-white);
  background-color: var(--color-berry-30);
}

.button:focus {
  color: var(--color-white);
  background-color: var(--color-berry-60);
}

.button-outline {
  /* Desktop/Button/Button (16) */
  font-style: normal;
  font-weight: 500;
  border-color: var(--color-berry);
  color: var(--color-berry);
  background-color: var(--color-white);
  border: 2px solid;
  font-size: 0.889rem;
  line-height: 20px;
  padding: 20px, 50px, 20px, 50px;
  /* identical to box height */
  text-transform: capitalize;
  height: 46px;
  width: fit-content;
  min-width: 150px;
  border-radius: 25px;
}

.home-pollination__spacer {
  margin: 64px 128px 64px 128px;
}

.CT {
  /* Desktop/Caption/C1 (15) */
  font-style: italic;
  font-weight: 500;
  font-size: 0.833rem;
  line-height: 18px;
}
.O1 {
  /* Desktop/Overline/O1 (15) */
  font-style: normal;
  font-weight: 500;
  font-size: 0.833rem;
  line-height: 18px;
}
.text-primary {
  color: #3a4a92;
}

.site-map {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 89px;
  height: 178px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
* {
  box-sizing: border-box;
}

hr {
  width: 75% !important;
  margin: auto;
}

span {
  font-weight: 550;
}

.svg-underline {
  background: url(/underline.svg) bottom left no-repeat;
  background-size: 100% auto;
  padding-bottom: 0px;
  min-width: 100%;
  font-weight: 400;
}

.text-color__berry {
  color: var(--color-berry);
}

#testimonials {
  background-color: var(--color-cornflower);
}

#listen-button {
  min-width: 250px;
}

.rectangle {
  width: 420px;
  height: 240px;
  background-color: var(--color-grey);
  border: 1px solid #000000;
}

.avatar {
  width: 80px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

#avatar-image {
  display: block;
  border-radius: 50%;
  position: absolute;
  bottom: -42px;
  border: 5px solid white;
}

/* #header-text {
  padding-left: 96px;
  padding-right: 96px;
} */

.card {
  border: none;
}

.card-img-top {
  width: 90px;
  height: auto;
  align-self: center;
}

.home-steps__title {
  color: var(--color-berry);
}

.steps-col {
  max-width: 350px;
}

.home-pollination__img {
  line-height: 0%;
}

#card-m3-steps {
  max-width: 370px;
}

#card-m3-testimonials {
  max-width: 390px;
}

#bullet-list {
  text-align: left;
}

#text-color__berry {
  color: var(--color-berry);
}

#pollination {
  background-color: var(--color-cream);
}

.home-pollination__title {
  padding: 0rem 1rem 0rem 1rem;
}

.home-shadow_img {
  box-shadow: 22px 24px rgb(230, 198, 25);
}

.home-pollination__right {
  margin-right: 80px;
}

#card-m5-steps-hex {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-flexbox;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

#FAQ {
  background-color: var(--color-lgrey);
}

#Hero {
  height: 75vh;
  background-image: linear-gradient(rgba(247, 247, 246, 0.85), rgba(247, 247, 246, 0.85)),
    url(/homehero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#newsletter {
  height: 66.13333129882812px;
  width: 399px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
}

#about-beela {
  font-style: normal;
  font-weight: 600;
  font-size: 85px;
  line-height: 82px;
  color: #3a4a92;
}

#about-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 170%;
  letter-spacing: 0.0005em;
}

/* #about-rectangle {
  height: 300px;
  width: 460px;
  background-color: white;
} */

#our-community-rectangle {
  height: 280px;
  width: 450px;
  background-color: white;
}

#our-community {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 59px;
  color: #3a4a92;
}

#our-community-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 170%;
  letter-spacing: 0.0005em;
}

#our-team-title {
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 59px;
  text-align: center;
}

#team-container {
  background-color: #ccdaff;
}

#team-name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

#team-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0.0005em;
}

#card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  letter-spacing: 0.0005em;
}

#jumbotron {
  background-color: #f9f2d4;
}

#community {
  background-color: #f9f2d4;
}

#empower {
  height: 400px;
  align-items: center;
}

.navbar-brand {
  font-size: xx-large;
}

#empower-text {
  color: var(--color-berry);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
}

#empower-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  text-align: center;
  letter-spacing: 0.0005em;
}

#wrapper {
  left: 0;
  right: 0;
}

.image-wrapper {
  width: auto;
}

/* Testimonials Carousel */
.carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  color: black;
  height: 100%;
}

.hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  display: inline-block;
}

.carousel .slide img {
  width: 88px !important;
}

.myCarousel {
  background: #fafafa;
  margin-top: -6%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 17px;
}

.myCarousel h4 {
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: var(--color-berry) !important;
  outline: 0;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid #3a4a92 !important;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #3a4a92 !important;
}

.carousel.carousel-slider .control-arrow {
  background: var(--color-white) !important;
  border: 1px solid #3a4a92 !important;
  height: min-content;
  position: absolute;
  top: 50% !important;
  border-radius: 50%;
  padding: 0px 10px 0px 10px !important;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  opacity: 1 !important;
}

@media only screen and (max-width: 768px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }

  .myCarousel {
    background: #fafafa;
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    min-height: fit-content !important;
  }
}
