#bullet-list {
  text-align: left;
}

#container-hex {
  display: flex;
  --s: 150px; /* size  */
}
#card-m5-steps-hex {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-flexbox;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}
#FAQ {
  background-color: var(--color-lgrey);
}